{% extends "layout.html" %}
{% block title %}Página de registro{% endblock %}
{% block statics %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" charset="utf-8">
<script src="{{ url_for('static', filename='js/ubigeo.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/continue.js') }}" charset="utf-8"></script>
{% endblock %}
{% block content %}
  <div id="content">
    <nav>
      <ul>
        <li>Inicio</li>
        <li>Inicio</li>
        <li>Otro</li>
        <li style="float: right;">Login</li>
      </ul>
    </nav>
    <h1>Bienvenido a mi primer jueguito en HTML5</h1>
    <h2>Completa tus datos</h2>
    <form class="form" action="/register/continue" method="POST">
      <input hidden="true" type="text" name="username" value="{{ data.username }}" />
      <input hidden="true" type="password" name="password" value="{{ data.password }}" />
      <div class="fromgroup">
        <label>Departamento y distrito</label>
        <select id="departamentos" name="departamento" required="true">
        </select>
        <select id="provincias" name="provincia" required="true">
        </select>
      </div>
      <div class="fromgroup">
        <div class="item">
          <label>Sexo</label>
          <div class="fromgroup">
              <div class="item">
                <label>
                  <input type="radio" name="sex" value="f" required="true">
                  <img src="/static/imgs/niña.jpg" alt="" style="height: 60px; width: 40px">
                </label>
              </div>
              <div class="item">
                <label>
                  <input type="radio" name="sex" value="m" required="true">
                  <img src="/static/imgs/niño.jpg" alt="" style="height: 60px; width: 40px">
                </label>
              </div>
          </div>
        </div>
        <div class="item">
          <label>Fecha de nacimiento</label>
          <div>
            <input id="dateFecha" type="date" name="birthdate" value="" required="true">
          </div>
        </div>
        <div class="item">
          <label>Mis colores favoritos</label>
          <div>
            <div class="checkbox">
              <label>
                <div class="color" style="background: red;">
                </div>
                <input type="checkbox" name="colours" value="rojo">
              </label>
            </div>
            <div class="checkbox">
              <label>
                <div class="color" style="background: green;">
                </div>
                <input type="checkbox" name="colours" value="verde">
              </label>
            </div>
            <div class="checkbox">
              <label>
                <div class="color" style="background: blue;">
                </div>
                <input type="checkbox" name="colours" value="azul">
              </label>
            </div>
            <div class="checkbox">
              <label>
                <div class="color" style="background: yellow;">
                </div>
                <input type="checkbox" name="colours" value="amarillo">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div id="controls" class="fromgroup">
        <input type="button" value="Atras" onclick="location.href='/register';">
        <input type="submit" value="Finalizar y entrar al juego">
      </div>
    </form>
  </div>
{% endblock %}
