{% extends "layout.html" %}
{% block title %}Página de inicio de sesión{% endblock %}
{% block statics %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" charset="utf-8">
<script src="{{ url_for('static', filename='js/password.js') }}" charset="utf-8"></script>
{% endblock %}
{% block content %}
  <div id="content">
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/play">Jugar</a></li>
        <li><a href="/register">Registrarse</a></li>
        <li class="navselected" style="float: right;"><a href="/login">Iniciar Sesión</a></li>
      </ul>
    </nav>
    <h1>Bienvenido a mi primer jueguito en HTML5</h1>
    <h2>Este es el formulario de inicio de sesion para niños Apurimeños</h2>
    <form id="fromlogin" class="form" action="/login" method="POST">
      <div class="fromgroup">
        <label>Digita tu nombre </label>
        <input id="txtUsername" type="text" name="username" value="" autocomplete="off" required="true">
      </div>
      <div id="imgitems" class="fromgroup" background="red">
      </div>
      <div id="controls" class="fromgroup">
        <input id="btnSubmit" type="button" value="Continuar">
        <input type="reset" value="Cancelar">
      </div>
    </form>
  </div>
{% endblock %}
