{% extends "layout.html" %}
{% block title %}Página de registro{% endblock %}
{% block statics %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" charset="utf-8">
{% endblock %}
{% block content %}
  <div id="content">
    <nav>
      <ul>
        <li>Inicio</li>
        <li>Inicio</li>
        <li>Otro</li>
        <li style="float: right;">Login</li>
      </ul>
    </nav>
    <h1>Bienvenido a mi primer jueguito en HTML5</h1>
    <h2>Este es el formulario de registro para niños Apurimeños</h2>
    <div class="form">
      <div class="fromgroup">
        <canvas>
          Su navegar no soporta canvas
        </canvas>
        <section class="">
          <input type="button" >
          <input type="button" >
          <input type="button" >
        </section>
      </div>
      <div class="fromgroup">
        <input type="button" >
        <input type="button" >
        <input type="button" >
        <input type="button" >
      </div>
    </div>
  </div>
{% endblock %}
