{% extends "layout.html" %}
{% block title %}Página de registro{% endblock %}
{% block statics %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" charset="utf-8">
<script src="{{ url_for('static', filename='js/admin.js') }}" charset="utf-8"></script>
{% endblock %}
{% block content %}
  <div id="content">
    <nav>
      <ul>
        <li class="navselected"><a href="/admin"><b>Administración</b></a></li>
        <li><a href="/play"><b>Jugar</b></a></li>
        <li style="float: right;"><a href="/logout"><b>Cerrar Sesión</b></a></li>
      </ul>
    </nav>
    <section class="opciones">
        <div class="opcion">
          <a href="/admin/workspace?query=estadistica"><b>Estadísticas Ingresos</b></a>
        </div>
        <div class="opcion">
          <a href="/admin/workspace?query=passwords"><b>Mantenimiento Imágenes</b></a>
        </div>
    </section>
    <section class="data">
      {% if data and data.query == 'estadistica' %}
      <table id="estadistica" class="estadistica">
      <th>Usuario</th>
      <th>Ingresos</th>
      {% for item in data.usuarios %}
        {% if not item.is_admin %}
        <tr>
        <td>{{ item.username }}</td><td>{{ item.child.ingresos }}</td>
        </tr>
        {% endif %}
      {% endfor%}
      </table>
      <div id="resultados"></di>
      {% endif %}
      
      {% if data and data.query == 'passwords' %}
        <form id="formulario" action="/admin/workspace?query=passwords" method="POST" enctype="multipart/form-data">
          <div class="controls">
            <label>Guardar
              <input type="radio" name="accion" value="guardar" id="guardar" />
            </label>
            <label>Eliminar
              <input type="radio" name="accion" value="eliminar" id="guardar" />
            </label>
          </div>
          <label>Subir Archivo 
            <input type="file" name="file" id="fileupload" />
            Guardar en <select id="pass_id" name="pass_id"></select>
          </label>
          <div>
            <label><b>Escoge una contraseña</b></label>
            <select id="ddlPasswords">
            </select>
          </div>
          <div id="imgitems" style="width: 640px;">
          </div>
        </form>
        <div id="controls" class="">
          <input type="button" name="enviar" value="Realizar Acción" id="enviar" />
        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}
