{% extends "layout.html" %}
{% block title %}IngresarAdministración{% endblock %}
{% block statics %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminlogin.css') }}" charset="utf-8">
{% endblock %}
{% block content %}
  <div id="content">
    <form class="form" action="/admin" method="POST">
      <div class="formgroup">
        <h1>Administración DSOI</h1>
      </div>  
      <div class="formgroup">
        <table>
          <tr>
            <td>
              <b>Usuario</b>
            </td>
            <td>
              <input class="txt" type="text" name="username" placeholder=" ejm: administrador" autocomplete="off" required="true">
            </td>
          </tr>
          <tr>
            <td>
              <b>Contraseña</b>
            </td>
            <td>
              <input class="txt" type="password" name="password" autocomplete="off" required="true">
            </td>
          </tr>
        </table>
      </div>
      <hr>
      <div class="formgroup">
        <label>
            <input id="submit" type="submit" value="Ingresar">
        </label>
      </div>
    </form>
  </div>
{% endblock %}
